// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.fm-inline {
    display: inline;
}
.badge-lg {
  font-size: 1.0rem;
}
.avatar {
  width: 128px;
  height: 128px;
}





// @import "../assets/css/adminlte.min.css";
// @import "../assets/css/all.min.css";
// @import "../assets/css/icheck-bootstrap.min.css";
